@charset "utf-8";
/* CSS Document*/

/* Color Palette 
dark blue:#0E256A
aqua green:#008C84 
dark green: #002F3C 
lime green:#A7BF39
dark orange:#D44102
bright orange: #FAA000
dark gray: #3E4749
cool gray: #879499
*/


html, body {
    height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact;
}

body  {
margin: 0;
font-family: 'Libre Franklin', sans-serif;
font-size: 16px;
line-height: 20px;
font-style: normal;
color: #212721;
vertical-align: top;
text-align: left;
background-color:#FFF;
padding:0px;
}

#banner {
	width: 100%;
	height: 100px;
	background-color: #F4F5F7;
	border-bottom: 1px solid #879499;
}

#banner img {
	float: left;
	height: 100px;
	width: auto;
}

#languages {
   display: block;
  position: relative;
  margin-right: 20px;
  font-family: lexend;
  float: right;
  margin-top: 60px;
}
#course-banner {
	width: 100%;
	min-height: 80px;
	background-color: #FFF;
	font-family: 'Lexend', sans-serif;
	padding: 0px;
}
#course-banner h1{
	color: #0E256A;;
}

#course-banner h2{
	font-size: 130%;
	color: #666;
	margin-top: -10px;
	line-height: 130%;
}

p {
	line-height: 150%;
}

h1 {
	font-family: 'Lexend', sans-serif;
	font-size: 160%;
}

h2 {
	font-family: 'Lexend', sans-serif;
	font-size: 130%;
}

h3 {
	font-family: 'Lexend', sans-serif;
	font-size: 110%;
}

h4 {
	font-family: 'Lexend', sans-serif;
	font-size: 100%;
}
a {
  color: #4F81BD;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
 text-decoration: underline;
}

a:visited {
 color: #551A8B;
}

#breadcrumbs {
font-size: 10px;
letter-spacing:2px;
margin-bottom: 12px;
}


#playbook {
  margin-top: -20px;
}
.content {
	max-width: 1200px;
	margin: auto;
	padding: 0px 20px;
}


.audio {
  background: #222;
  color: #fff;
  padding: 10px 0px 0px 10px;
  border-radius: 6px;
  width: 350px;
  font-size: 80%;
}

ul {
    list-style: square outside none;
}

li {
	margin-bottom: 20px;
}

.modules {
padding: 8px;
}

.modules img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #CCC;

}
.modules p {
	font-size: 90%;
}

hr {
	border-top: 3px double #8c8b8b;
}

#footer {
	width: 100%;
	min-height: 250px;
	background-color: #F4F5F6;
	color: #333;
	font-size: 12px;
	border-top: 1px solid #ccc;
	padding-top: 50px;
}


#footer img {
	float: right;
	height: 85px;
	width: auto;
	margin-right: 20px;	
}

.box {
	width: 100%;
	padding: 20px;
	border: 1px solid #1F497D;
}

.box_header {
	background-color: #1F497D;
	color: #fff;
	height: 40px;
	width: 100%;
	margin: 0px;
	padding: 10px;
	font-size: 105%;
	text-align: left;
	font-weight: 700;
}

.box_header img {
	width: auto;
	height: 30px;
	float: left;
	margin-right: 20px;
	padding-bottom: 5px;
}
.button, a.button, a.button:visited, a.button:active {
    background-color: #0E256A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
    min-width: 130px;
    padding: 8px 22.5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-appearance: none;
    display: inline-block;
	margin-right: 16px;
    border: 1px solid #ccc;
    color: #fff;
    font-weight: 700;
	margin-top: 12px;
}

#clapping-bg {
  background-image: url("../images/clapping.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#learning {
    float: right;
    margin-left: 30px;
    width: 250px;
    margin-top: 40px;
	clear: both;
}

.play_box {
    width: 100%;
    padding: 10px;
    background-color: #F4F5F7;
    border-radius: 10px;
    color: #555;
    font-size: 90%;
    font-weight: 600;
    display: block;
    text-align: center;
	clear: both;
}

.step {
    margin-top: 40px;
    border-bottom: 5px solid #022A67;
    width: 100px;
    line-height: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
	color: #022A67;
}

.side_box {
    background-color: #F4F5F7;
    width: 325px;
    border-radius: 10px;
    float: right;
    padding: 22px;
	margin: 20px;

}
.side_box h4 {
	font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1F385B;
	margin-top:2px;
}

#panel {
    padding: 0px 10px 10px 20px;
    border: dotted 1px #ccc;
    margin-top: 40px;
    border-radius: 4px;
}

button {
    display: table;
    padding: 10px;
    margin-left: 280px;
    margin-top: -40px;
    border-radius: 5px;
    border: 1px solid #DCE6F2;
    background-color: #DCE6F2;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

#playbook img {
    border-radius: 8px;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}
 
/*accordian*/


.accordion {
  width: 100%;
  padding: 10px;
  margin: auto;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 0px;
  cursor: pointer;
  margin-bottom: 10px;
  border-top: 2px solid #333;
}


.accordion-icon {
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.accordion-icon.active {
  transform: rotate(135deg);
}

.accordion-content {
  padding: 0px 10px 10px 10px;
  display: none;
}

.accordion-content.active {
  display: block;
}

/*progress bar*/


.progress-container {
  margin: auto;
  width: 100%;
  text-align: left;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0px 155px 0px 0px;
  padding: 0px 5px 0px 0px;
  color: #CCC;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
}

.radio:checked + .label {
  color: #0E256A;
}

.progress {
  margin: 0 auto;
  margin-left: -3%;
  width: 100%;
}

.progress {
  padding: 2px;
  background: #EEE;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.progress-bar {
  height: 10px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#zero:checked ~ .progress > .progress-bar {
  width: 20%;
  background-color: #333;
}

#twenty:checked ~ .progress > .progress-bar {
  width: 40%;
  background-color: #333;
}

#forty:checked ~ .progress > .progress-bar {
  width: 40%;
  background-color: #333;
}

#sixty:checked ~ .progress > .progress-bar {
  width: 60%;
  background-color: #333;;
}

#eighty:checked ~ .progress > .progress-bar {
  width: 80%;
  background-color: #333;
}
#hundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #333;
}


.glossary {
    width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    background: #f9f9f9;
}


dl {
    margin-top: 20px;
}

dt {
    font-weight: bold;
    font-size: 16px;
    color: #0056b3;
    margin-top: 20px;
	margin-bottom: 5px;
	font-family: Lexend;
}

dd {
    margin-left: 20px;
    font-size: 14px;
    color: #222;
	line-height: 22px;
	
}

dt:hover {
    color: #ff6347;
    cursor: pointer;
}